# Gradle files
.gradle/
build/

# IDE files
.idea/
.run/
*.iml
*.ipr
*.iws
.vscode/

# Minecraft/Fabric redundant files
logs/
saves/
screenshots/
resourcepacks/
shaderpacks/
options.txt
usercache.json
command_history.txt
downloads/
config/fabric/indigo-renderer.properties
/data/
mods/
run/
.output.txt

# Other
*.log
*.log.gz
